# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# Large data files
data/raw.rar

# Trained models (too large for GitHub)

SubCPMK3 Genap 2025-2026.pdf
